.widget-container.fluid-height.stf-device-assignment(ng-controller='DeviceAssignmentCtrl')
  .row
    .col-md-6
      h3(translate) Devices
      .device-assignment-search
        input.form-control(type='text', ng-model='deviceSearch', placeholder='{{ "Search devices..." | translate }}')
      .device-assignment-list
        table.table.table-bordered.table-hover
          thead
            tr
              th(translate) Serial
              th(translate) Model
              th(translate) Assigned To
              th(translate) Actions
          tbody
            tr(ng-repeat='device in devices | filter:deviceSearch track by device.serial')
              td {{ device.serial }}
              td {{ device.model || device.name }}
              td
                span(ng-if='device.assignedUser') {{ device.assignedUser }}
                span.text-muted(ng-if='!device.assignedUser', translate) Unassigned
              td
                button.btn.btn-xs.btn-danger(ng-if='device.assignedUser', ng-click='unassignDevice(device.serial)', translate) Unassign
                button.btn.btn-xs.btn-success(ng-if='!device.assignedUser', ng-click='showAssignModal(device)', translate) Assign

    .col-md-6
      h3(translate) Users
      .user-search
        input.form-control(type='text', ng-model='userSearch', placeholder='{{ "Search users..." | translate }}')
      .user-list
        table.table.table-bordered.table-hover
          thead
            tr
              th(translate) Email
              th(translate) Name
              th(translate) Assigned Devices
          tbody
            tr(ng-repeat='user in users | filter:userSearch track by user.email')
              td {{ user.email }}
              td {{ user.name }}
              td
                span.badge {{ getUserDeviceCount(user.email) }}

